<header>
  <div class="container">
    <div class="row">
      <a href="#" class="toggle"><div class="toggle-inner"></div></a>

      <div class="twelve-columns">
        <a class="logos no-border" href="/">
          <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
          <svg class="icon icon-logomark"><use xlink:href="#icon-logomark"></use></svg>
        </a>
      </div>
    </div>
  </div>
  <hr class="hr--medium hr--no-margin"/>
  <div class="container">
    <div class="row">
        <nav class="clearfix">
          <ul class="clearfix">
            {% for link in linklists.main-menu.links %}
              <li class="three-columns u-track li--top">
                {% if link.url == '#' %}
                  {{ link.title }}
                {% else %}
                  <a href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
                <ul>
                  {% for child in linklists[link.handle].links %}
                    <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </nav>
    </div>
  </div>
</header>
