<div class="lookbook lookbook--hidden">
  <span class="close"></span>
  {% for i in (1..12) %}
    <figure class="">
      <div class="image image--lookbook" style="background-image: url({{ 'CJM_MAIRI_HRES-' | append: forloop.index | append: '_2048x2048.jpg'  | file_url }})"></div>
      <figcaption>
        <span class="left"><span class="index">{{ i }}</span>/12</span>
        <a href="/collections/queens-of-noise" class="right">Shop The Look</a>
      </figcaption>
    </figure>
  {% endfor %}
</div>

<div class="container">
  <div class="row">
    <div class="twelve-columns">
      <a href="/collections/queens-of-noise">
        <div class="image image--hero" style="background-image: url({{ 'ee_one_2048x2048.jpg' | file_url }})"></div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="five-columns padding-right">
      <h3>Stories</h3>
      <hr class="hr--left hr--medium">
      <h2>
        Queens<br>
        of Noise
      </h2>
      <p>
        ‘Queens of Noise’describes women taking their place in a male dominated world of rock ‘n’ roll. ‘The Runaways’  were the first all female rock group and exploded onto the scene in the late 1970s, their look comprised of tailored androgyny and all out femininity, this juxtaposition inspires this edited collection of contrasting militant uniformity and soft, intricate details derived from our signature laces and silks.
      </p>
    </div>
    <div class="seven-columns">
      <img src="{{ 'ee_two_2048x2048.jpg' | file_url }}">
      <a href="/products/pop-dress" class="caption caption--right">Pop</a>
    </div>
    <svg class="big-logo parallax-up"><use xlink:href="#icon-logomark"></use></svg>
  </div>

  <div class="row">
    <div class="six-columns">
      <div class="parallax-down">
        <img class="story--margin-top" src="{{ 'ee_three_2048x2048.jpg' | file_url }}">
        <a href="/products/bowie-shorts" class="caption">Bowie</a>
      </div>
    </div>
    <div class="six-columns padding-left">
      <h3>&nbsp;</h3>
      <hr class="hr--right hr--medium">
      <br><br>
      <p>
        Queens of Noise is the perfect balance of ‘fierce &amp; finesse’. Delving into gilded and elaborate decoration typical of baroque and Seventies textiles modernising with the Mairi McDonald dark edge.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="seven-columns">
      <h3>&nbsp;</h3>
      <hr class="hr--left hr--medium">
      <a class="arrow--open-lookbook" href="#">
        <h2>Lookbook</h2>
      </a>
      <a class="arrow-link arrow--open-lookbook" href="#"><span class="arrow"></span></a>
    </div>
    <div class="five-columns">
      <img class="img--lookbook-link" src="{{ 'ee_four_2048x2048.jpg' | file_url }}">
    </div>
  </div>
</div>
